.container {
  max-width: 400px;
  background-color: black;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
.container div {
  background-color: black;
  width: 100%;
  display: inline-block;
  display: none;
}
.container img {
  width: 100%;
  height: auto;
}

button {
  position: absolute;
    color: black;
    border: 1px;
    font: 1em;
    font-weight: 200px;
    font-size: 2em;
    font-family: fantasy, monospace;
}

.next {
  right: 5px;
}

.prev {
  left: 5px;
}

.explanation{
    text-align: center;
}
